<ion-nav-push>
  <ion-item (click)="goToDetail(contact)" detail>
    <ion-label>
      <h2 [innerHTML]="contact.firstName + ' ' + contact.lastName"></h2>
      <p [innerHTML]="contact.title"></p>
    </ion-label>
  </ion-item>
</ion-nav-push>
