<ion-header>
  <ion-toolbar mode="ios" class="toolbar-height" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>New Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createContactForm" (submit)="createContact()">
    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input formControlName="firstName" type="text"
                 placeholder="e.g. Johnny">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input formControlName="lastName" type="text"
                 placeholder="e.g. Appleseed">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Job Title</ion-label>
      <ion-input formControlName="title" type="text"
                 placeholder="e.g. Chief Executive Officer">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Phone</ion-label>
      <ion-input formControlName="phone" type="tel"
                 [value]="phone | phone: 'US'"
                    placeholder="e.g. (555) 555-5555">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email"
                 placeholder="e.g. email@example.com">
      </ion-input>
    </ion-item>


    <ion-button expand="block" type="submit"
                [disabled]="!createContactForm.valid">
      Add New Contact
    </ion-button>
  </form>
</ion-content>
