<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab2">
      <ion-icon name="list"></ion-icon>
      <ion-label>Reference</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="call"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="(authenticated$ | async) && authService.canEdit(user)" tab="users">
      <ion-icon name="person"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
