<ion-header>
    <ion-toolbar mode="ios" class="toolbar-height" color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="form">{{ form.label }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="form">
        <iframe style="width: 100vw; height: 95vh;" [src]="form.link | safe"></iframe>
    </ng-container>
</ion-content>
