<ion-header>
  <app-admin-buttons [title]="title"></app-admin-buttons>
</ion-header>

<ion-content>
  <ion-grid class="dashboard-grid ion-no-padding">
    <ion-row>
      <ion-col
              class="ion-padding-top ion-padding-bottom ion-padding-vertical"
              size="6" text-center
              *ngFor="let item of grid | async">
        <app-reference-grid [gridItem]="item"></app-reference-grid>

        <ng-container *ngIf="(authenticated$ | async) && authService.canEdit(user)">
          <ion-row *ngIf="item">
            <ion-col>
              <ion-button color="primary" (click)="goToDetail(item)">
                <ion-icon name="create"></ion-icon> Edit
              </ion-button>
              <ion-button color="danger" (click)="deleteReference(item.id, item.document, item.image)">
                <ion-icon name="trash"></ion-icon> Delete
              </ion-button>
            </ion-col>
          </ion-row>
        </ng-container>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
