<ion-header>
    <app-admin-buttons
            [title]="title"
    ></app-admin-buttons>
<!--
    <ion-toolbar mode="ios" class="toolbar-height" color="primary">

    </ion-toolbar>-->
</ion-header>

<ion-content>
    <ion-grid class="dashboard-grid ion-no-padding">
        <ion-row>
            <ion-col
                    class="ion-padding-top ion-padding-bottom ion-padding-vertical"
                    size="6" text-center
                    *ngFor="let item of grid | async">
                <app-dashboard-grid [gridItem]="item"></app-dashboard-grid>
                <ng-container *ngIf="(authenticated$ | async) && authService.canEdit(user)">
                    <ion-row>
                        <ion-col>
                            <ion-button color="primary" (click)="goToDetail(item)">
                                <ion-icon name="create"></ion-icon> Edit
                            </ion-button>
                            <ion-button color="danger" (click)="delete(item.id, item.image)">
                                <ion-icon name="trash"></ion-icon> Delete
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
