<ion-header>
    <ion-toolbar mode="ios" class="toolbar-height" color="primary">
        <ion-buttons slot="start">
            <ion-button *ngIf="readOnlyMode" (click)="closeModal()">Cancel</ion-button>
            <ng-container *ngIf="authService.canEdit(user)">
                <ion-button *ngIf="!readOnlyMode" (click)="toggleEditMode(true)">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ng-container>
        </ion-buttons>

        <ion-title>
        </ion-title>

        <ion-buttons slot="end" *ngIf="(authenticated$ | async) && authService.canEdit(user)">
            <ion-button *ngIf="readOnlyMode" (click)="toggleEditMode(false)">
                <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!readOnlyMode"
                        [disabled]="!updateContactForm.valid"
                        (click)="submitForm()">
                <ion-icon name="save"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
<!--        <ion-card-header class="ion-text-end">
            <ion-button [popover]="copyPopover" ngxClipboard [cbContent]="clipBoardContent">
                <ion-icon style="font-size: 2rem" name="link"></ion-icon>
            </ion-button>
        </ion-card-header>-->
        <ng-container *ngTemplateOutlet="!readOnlyMode && ((authenticated$ | async)) ? editForm : viewCard;"></ng-container>
    </ion-card>
    <ion-button
            (click)="deleteContact()"
            *ngIf="(authenticated$ | async) && authService.canDelete(user)"
            color="danger"
            expand="block"
            [innerHTML]="'Delete Contact'">
    </ion-button>
</ion-content>

<popover-content #copyPopover
                 title="Copy Link"
                 [animation]="true"
                 a
                 [closeOnClickOutside]="true"></popover-content>

<ng-template #editForm>
    <form *ngIf="contact" #updateForm [formGroup]="updateContactForm" (submit)="updateContact()">
        <ion-item>
            <ion-label stacked>First Name</ion-label>
            <ion-input formControlName="firstName"
                       type="text"
                       [value]="contact?.firstName"
                       placeholder="e.g. Johnny">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Last Name</ion-label>
            <ion-input formControlName="lastName"
                       type="text"
                       [value]="contact?.lastName"
                       placeholder="e.g. Appleseed">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Job Title</ion-label>
            <ion-input formControlName="title"
                       type="text"
                       [value]="contact?.title"
                       placeholder="e.g. Chief Executive Officer">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Phone</ion-label>
            <ion-input formControlName="phone"
                       type="tel"
                       [value]="contact?.phone | phone: 'US'"
                       placeholder="e.g. (555) 555-5555">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input formControlName="email"
                       type="email"
                       [value]="contact?.email"
                       placeholder="e.g. email@example.com">
            </ion-input>
        </ion-item>
    </form>
</ng-template>


<ng-template #viewCard>
    <ion-card-header>
        <ion-card-title padding-top>
            <ion-label
                    [innerText]="contact?.firstName + ' ' + contact?.lastName">
            </ion-label>
        </ion-card-title>
        <ion-card-subtitle padding-top>
            <ion-label [innerText]="contact?.title">
            </ion-label>
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item detailIcon="call" button [href]="'tel:' + contact?.phone">
                <ion-label>Phone</ion-label>
                <div style="padding: 0 2rem">
                    {{ contact?.phone | phone: 'US' }}
                </div>
            </ion-item>
            <ion-item detailIcon="mail" button [href]="'mailto:' + contact?.email" target="_blank">
                <ion-label>Email</ion-label>
                <div style="padding: 0 2rem">
                    {{ contact?.email }}
                </div>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ng-template>
