.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 220px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

h5 {
  margin-top: 0;
}
.grid-image {
  height: 10vh;
  width: auto;
}

.placeholder-image {
  height: 10vh;
}

.file {
  width: 50%;
  margin: 0 auto;
}
