<ng-container *ngIf="!downloadURLForEdit">
    <div class="dropzone"
         appDropZone
         *ngIf="!(downloadURL | async)"
         (hovered)="toggleHover($event)"
         (dropped)="startUpload($event)"
         [class.hovering]="isHovering">

        <ng-container *ngIf="type.toLowerCase() === 'pdf'">
            <img class="placeholder-image" src="../../../assets/img/pdf-placeholder.png">
        </ng-container>

        <ng-container *ngIf="type.toLowerCase() === 'image'">
            <img class="placeholder-image" src="../../../assets/img/image-placeholder.png">
        </ng-container>

        <h3>Drag and Drop {{ type }} File Here</h3>
        <h5>or choose a file…</h5>
        <span class="file-icon">
              <ion-icon class="upload-icon" name="cloud-upload"></ion-icon>
            </span>
        <div class="file">
            <input class="file-input" type="file" (change)="startUpload($event.target.files)">
        </div>
    </div>

    <div *ngIf="percentage | async as pct">

        <progress class="progress is-info"
                  [value]="pct"
                  max="100">
        </progress>

        {{ pct | number }}%

    </div>


    <div *ngIf="snapshot | async as snap">
        <ng-container *ngIf="percentage">
            {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}
        </ng-container>

        <div *ngIf="!downloadURLForEdit && downloadURL | async as url">
            <h3>Your {{ type }} upload was successful!</h3>
            <img class="grid-image"
                 [src]="type.toLowerCase() === 'image' ? url : '../../../assets/img/pdf-placeholder.png'"><br>
            <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
        </div>


        <ng-container *ngIf="!downloadURL && percentage">
            <button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
            <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
            <button (click)="task.resume()" class="button is-info" [disabled]="!(snap?.state === 'paused')">Resume
            </button>
        </ng-container>
        <ng-container *ngIf="!downloadURLForEdit && downloadURL | async as url">
            <ion-button color="danger" (click)="deleteItem(url)">
                <ion-icon name="trash"></ion-icon>
                Delete
            </ion-button>
        </ng-container>

        <ng-container *ngIf="downloadURLForEdit">
            <ion-button color="danger" (click)="deleteItem(downloadURLForEdit)">
                <ion-icon name="trash"></ion-icon>
                Delete
            </ion-button>
        </ng-container>
    </div>
</ng-container>


<div class="ion-padding" *ngIf="downloadURLForEdit">
    <h4>{{type | titlecase}}</h4>
    <img class="grid-image"
         [src]="type.toLowerCase() === 'image' ? downloadURLForEdit : '../../../assets/img/pdf-placeholder.png'"><br>
    <a [href]="downloadURLForEdit" target="_blank" rel="noopener">Download Me!</a>
</div>
<div class="ion-padding-start" *ngIf="downloadURLForEdit">
    <ion-button color="danger" (click)="deleteItem(downloadURLForEdit)">
        <ion-icon name="trash"></ion-icon>
        Delete {{type | titlecase}}
    </ion-button>
</div>
