<ion-header>
    <ion-toolbar mode="ios" class="toolbar-height" color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <firebase-ui></firebase-ui>
</ion-content>
