<ion-header>
  <ion-toolbar mode="ios" class="toolbar-height" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ng-container *ngIf="reference">
      <ion-title>
        {{ reference.label }}
      </ion-title>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="reference">
    <ngx-doc-viewer [url]="reference.document" viewer="google" style="width:100vw;height:96vh;"></ngx-doc-viewer>
  </ng-container>
</ion-content>
