<ion-header>
  <ion-toolbar mode="ios" class="toolbar-height" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>New Reference Link</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngTemplateOutlet="!editableItem ? blankForm : editForm"></ng-container>
</ion-content>

<ng-template #editForm>
  <form [formGroup]="editReferenceLinkForm" (submit)="editReferenceLinkItem()">
    <ion-row>
      <ion-col>
        <app-file-upload type="PDF"
                         (fileDeleted)="updateReferenceItem(editableItem, 'pdf')"
                         [downloadURLForEdit]="editableItem.document"
                         (pdfUrl)="setPDF($event)">
        </app-file-upload>
      </ion-col>
      <ion-col>
        <app-file-upload type="Image"
                         (fileDeleted)="updateReferenceItem(editableItem, 'image')"
                         [downloadURLForEdit]="editableItem.image"
                         (imageUrl)="setImage($event)">
        </app-file-upload>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label stacked>Reference Name</ion-label>
      <ion-input formControlName="itemName" type="text"
                 placeholder="e.g. Some PDF Name"
                  [value]="editableItem.label">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Image</ion-label>
      <ion-input readonly="true" formControlName="image" type="url"
                 [value]="getImageValue(!editableItem.image ? downloadUrl$ : editableItem.image)"
                 placeholder="images/someImage.png">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Document</ion-label>
      <ion-input readonly="true" formControlName="document" type="url"
                 [value]="getPdfDocumentValue(!editableItem.document ? pdfDownloadUrl$ : editableItem.document)"
                 placeholder="pdfs/123491.pdf">
      </ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button expand="block" type="submit"
                    [disabled]="!editReferenceLinkForm.valid">
          <ion-icon name="save"></ion-icon> Save
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium" expand="block" type="button" (click)="closeModal()">
          <ion-icon name="close-circle-outline"></ion-icon> Cancel
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ng-template>

<ng-template #blankForm>
  <form [formGroup]="createReferenceLinkForm" (submit)="createReferenceLinkItem()">
    <ion-row>
      <ion-col>
        <app-file-upload type="PDF" (pdfUrl)="setPDF($event)"></app-file-upload>
      </ion-col>
      <ion-col>
        <app-file-upload type="Image" (imageUrl)="setImage($event)"></app-file-upload>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label stacked>Reference Name</ion-label>
      <ion-input formControlName="itemName" type="text"
                 placeholder="e.g. Some PDF Name">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="downloadUrl$">
      <ion-label stacked>Image</ion-label>
      <ion-input readonly="true" formControlName="image" type="url"
                 [value]="getImageValue(downloadUrl$)"
                 placeholder="images/someImage.png">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="pdfDownloadUrl$">
      <ion-label stacked>Document</ion-label>
      <ion-input readonly="true" formControlName="document" type="url"
                 [value]="getPdfDocumentValue(pdfDownloadUrl$)"
                 placeholder="pdfs/123491.pdf">
      </ion-input>
    </ion-item>

    <ion-button expand="block" type="submit"
                [disabled]="!createReferenceLinkForm.valid">
      Add Reference Link
    </ion-button>
  </form>
</ng-template>
