<ion-header>
  <ion-toolbar mode="ios" class="toolbar-height" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>
      Edit User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-user-detail-list-item [user]="user"></app-user-detail-list-item>
</ion-content>
