<ion-header>
    <ion-toolbar mode="ios" class="toolbar-height" color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>New Dashboard Item</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngTemplateOutlet="!editableItem ? blankForm : editForm"></ng-container>
</ion-content>

<ng-template #editForm>
    <form [formGroup]="editDashboardLinkForm" (submit)="editDashboardItem()">
        <app-file-upload type="Image"
                         (fileDeleted)="updateDashboardItemImage(editableItem)"
                         [downloadURLForEdit]="editableItem.image"
                         (imageUrl)="setImage($event)">
        </app-file-upload>
        <ion-item>
            <ion-label stacked>Item Name</ion-label>
            <ion-input formControlName="itemName" type="text"
                       placeholder="e.g. Sales Travel"
                        [value]="editableItem.label">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Formstack URL</ion-label>
            <ion-input formControlName="formstackLink" type="url"
                       placeholder="https://nobilisgroup.formstack.com/..."
                        [value]="editableItem.link">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Image</ion-label>
            <ion-input readonly="true" formControlName="image" type="url"
                       [value]="getImageValue(!editableItem.image ? downloadUrl$ : editableItem.image)"
                       placeholder="images/123491.png">
            </ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button expand="block" type="submit"
                            [disabled]="!editDashboardLinkForm.valid">
                    <ion-icon name="save"></ion-icon> Save
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="medium" expand="block" type="button" (click)="closeModal()">
                    <ion-icon name="close-circle-outline"></ion-icon> Cancel
                </ion-button>
            </ion-col>
        </ion-row>


    </form>
</ng-template>

<ng-template #blankForm>
    <form [formGroup]="createDashboardLinkForm" (submit)="createDashboardItem()">
        <app-file-upload type="Image" (imageUrl)="setImage($event)"></app-file-upload>
        <ion-item>
            <ion-label stacked>Item Name</ion-label>
            <ion-input formControlName="itemName" type="text"
                       placeholder="e.g. Sales Travel">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Formstack URL</ion-label>
            <ion-input formControlName="formstackLink" type="url"
                       placeholder="https://nobilisgroup.formstack.com/...">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="downloadUrl$">
            <ion-label stacked>Image</ion-label>
            <ion-input readonly="true" formControlName="image" type="url"
                       [value]="getImageValue(downloadUrl$)"
                       placeholder="images/123491.png">
            </ion-input>
        </ion-item>

        <ion-button expand="block" type="submit"
                    [disabled]="!createDashboardLinkForm.valid">
            Add Dashboard Item
        </ion-button>
    </form>
</ng-template>
