<ion-nav-push>
  <ion-item (click)="goToDetail(user)" detail>
    <ion-label>
      <h2>
        {{user.email}}
        <ng-container *ngIf="chipObject">
          <ng-container *ngIf="chipObject.name !== 'Subscriber'">
            <ion-chip
                    [ngClass]="chipObject.cssClass">
              {{chipObject.name}}
              <ion-icon [name]="chipObject.icon" color="white"></ion-icon>
            </ion-chip>
          </ng-container>
        </ng-container>
      </h2>
      <p *ngIf="authService.getAuthUserId() === user.uid" class="greenText">
        This is you
      </p>
    </ion-label>
  </ion-item>
</ion-nav-push>
