.adminChip {
  background-color: rgba(189,1,0,0.86);
  color: white;
  text-align: right;
}

.editorChip {
  background-color: rgba(130,13,189,0.86);
  color: white;
}

.greenText {
  color: green;
}
