<ng-container *ngIf="user">
    <ng-container *ngIf="authService.getAuthUserId() === user.uid">
        <ion-card [color]="'secondary'">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name="information-circle-outline"></ion-icon>
                    Note
                </ion-card-title>
                <ion-card-content>
                    <strong>You cannot edit your own permissions! Ask another admin to revoke permissions for
                        you!</strong>
                </ion-card-content>
            </ion-card-header>
        </ion-card>
    </ng-container>
</ng-container>

<ion-list>
    <ion-item-group *ngIf="user">
        <ng-container *ngFor="let data of objectKeys(user.roles)">
            <ion-item>
                <ion-item-sliding>{{ data | titlecase }}</ion-item-sliding>
                <ion-toggle (ionChange)="updateUser(user, data)"
                        [checked]="user.roles[data]"
                        [disabled]="user.uid == authService.getAuthUserId()"></ion-toggle>
            </ion-item>
        </ng-container>
    </ion-item-group>
</ion-list>
