<ion-toolbar mode="ios" class="toolbar-height" color="primary">
    <!-- Cannot add users -- they need to login themselves to create an account -->
    <ng-container *ngIf="currentUrl !== '/tabs/users'">
        <ion-buttons *ngIf="(authenticated$ | async) && authService.canEdit(user)" slot="start">
            <ion-button (click)="presentCreateModal()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
            <ion-button *ngIf="pwa.promptEvent" (click)="installPwa()">
                <ion-icon name="appstore"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="!(authenticated$ | async) && !authService.canEdit(user)" slot="start">
            <ion-button *ngIf="pwa.promptEvent" (click)="installPwa()">
                <ion-icon name="appstore"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ng-container>
    <ion-buttons slot="end">
        <!--Show login button -->
        <ion-button *ngIf="!(authenticated$ | async)" (click)="presentLoginModal()">
            <ion-icon name="lock"></ion-icon>
        </ion-button>

        <!--Show logout button -->
        <ion-button *ngIf="authenticated$ | async" (click)="logout()">
            Logout&nbsp;
            <ion-icon name="log-out"></ion-icon>
        </ion-button>
    </ion-buttons>

    <ion-title class="toolbar-height" *ngIf="title.image">
        <img [class]="title.cssClass" [src]="assetDir + title.image" [alt]="title.text">
    </ion-title>

    <ion-title class="toolbar-height" *ngIf="!title.image" [innerHTML]="title.text">
    </ion-title>

</ion-toolbar>
